<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <h2>Histórico de detección de uso de celulares</h2>
            <div class="row">
                <events-detail class="col-lg-7 col-md-6"></events-detail>
                <driver-ranking class="col-lg-5 col-md-6"></driver-ranking>
            </div>
            <div class="row">
                <events-map class="col-lg-7 "></events-map>
                <duc-state class="col-lg-5 "></duc-state>
            </div>

        </div>
    </div>
</div>