<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <h2>Opciones de Administración</h2>

        </div>
    </div>
    <div class="row">

        <div class="col-lg-6">
            <crud-duc></crud-duc>


        </div>
        <div class="col-lg-6">


            <crud-truck></crud-truck>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            
            <!--<duc-truck></duc-truck>  -->

        </div>
        <div class="col-lg-6">
            <crud-users></crud-users>
        </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
        <crud-report></crud-report>
        </div>
    </div>
</div>