<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Detalle de eventos en Ruta </h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
             ui-event="{'map-click': 'openMarkerInfo(marker)'}">
        </div>

        <div ui-map-info-window="myInfoWindow">
          <h1>Marker</h1>
          Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
          <a class="btn btn-primary" ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
        </div>
        
        
        <!-- <section id="map" ng-controller="GoogleMaps">-->
            <div ui-map="myMap" ui-options="mapOptions" class="google-map-modal" ui-event="{'map-click': 'addMarker($event, $params)'}"></div>
            <button type="button" class="btn btn-white" ng-click="showHeatmap()">Ver mapa de calor</button>
            <button type="button" class="btn btn-white" ng-click="showMarkers()">Ver eventos importantes</button>
        <!--</section> -->
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-white" ng-click="cancel()">Cerrar</button>
    </div>

</div>

