<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>Ranking de uso de celular</h5>
		<span class="label label-primary">!!!</span>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">


		<form role="form" class="form-inline ng-pristine ng-valid">


			<div>
				<label>Período de tiempo</label>
			</div>

			<div data-toggle="buttons" class="btn-group" uib-dropdown>

				<label class="btn btn-sm btn-white active" ng-model="dateFilterEvents" uib-btn-radio="'last-day'" ng-click="filterEventDetails()"> Último día </label>

				<label class="btn btn-sm btn-white" ng-model="dateFilterEvents" uib-btn-radio="'last-week'" ng-click="filterEventDetails()"> Última semana </label>

				<label class="btn btn-sm btn-white" ng-model="dateFilterEvents" uib-btn-radio="'all'" ng-click="filterEventDetails()">
					Histórico </label>

				<label class="btn btn-sm btn-white" ng-model="dateFilterEvents" uib-btn-radio="'range'" ng-click="filterEventDetails()"> Período </label>

			</div>

			<div ng-show="dateFilterEvents=='range'">
				<div class="row">
					<div class="col-xs-6">
						Desde
						<div class="input-group date ">
							<input class="form-control" date-time ng-model="startDateFilter" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" date-change="updateStartDate">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
					<div class="col-xs-6">
						Hasta
						<div class="input-group date ">
							<input class="form-control" date-time ng-model="finishDateFilter" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" date-change="updateFinishDate">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
				</div>
			</div>



		</form>
		<div class="hr-line-dashed"></div>
		<div ng-show="eventsCountPerDriver.length>0">
			
			<div ng-show="eventsCountPerDriver.length>paginationNumPerPage">
				<p>Mostrando del {{paginationNumPerPage*(paginationCurrentPage-1)+1}} al {{paginationNumPerPage*paginationCurrentPage}} de {{eventsCountPerDriver.length}} entradas</p>
			</div>
			<div ng-show="eventsCountPerDriver.length<=paginationNumPerPage">
				<p>Mostrando las {{eventsCountPerDriver.length}} entradas</p>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Conductor</th>
						<th># Eventos</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="e in paginationGetPageItems()">
						<td> {{e.name}} </td>
						<td> {{e.count}} </td>
					</tr>
				</tbody>
			</table>
		</div>

		<ul ng-show="eventsCountPerDriver.length>paginationNumPerPage" uib-pagination total-items="eventsCountPerDriver.length" ng-model="paginationCurrentPage" class="pagination-sm" boundary-link-numbers="true" items-per-page="paginationNumPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

		<div>
			<h4>Gráfico de Cantidad de eventos por conductor en el período seleccionado</h4>
			<chartist ng-show="!isEmpty(groupedEvents)" class="ct-chart ct-minor-seventh" chartist-data="horizontalData" chartist-chart-options="horizontalOptions" chartist-chart-type="Bar" chartist-events="eventsCustom"></chartist>

			<div ng-show="isEmpty(groupedEvents)" class="alert alert-warning">
				No hay eventos en el período seleccionado
			</div>

		</div>
	</div>
</div>