
<div class="modal-body">
        <div class="col-lg-6 ds" >          
            <form ng-controller="putcontroller">
            
        <div class="modal-content">
        <div class="modal-header">
            
        <button  type="button"  class="close2" data-dismiss="modal" aria-hidden="true">×</button>
            
            <h3>Antecedentes Ocupacionales</h3>
            
        </div>
          
            <br>
                <p style="font-size: 12px; text-align: justify; margin-left:10px; margin-right:10px; color: #000"> Sr(a) 
                Recuerde rellenar todos los campos, una vez completado presione Enviar, para seguir rellenando la encuesta o Salir para cerrar tu sesión. Pasados unos días te llamaremos en caso de que no contestes la información.
            </p>
               
           
            <h2  style=" font-size: 12px ; color: #000">Nivel escolaridad</h2> 
            <select class="form-control"  ng-model="ecolaridad" required >
                <option value="Básica incompleta">Básica incompleta</option>
                <option value=" Básica completa"> Básica completa</option>
                <option value="Media incompleta">Media incompleta</option>
                <option value="Media completa">Media completa</option>
                <option value="Educación superior incompleta">Educación superior incompleta</option>
                <option value="Educación superior completa"> Educación superior completa</option>
            </select>
     <br>     
    

            <h2  style=" font-size: 12px ; color: #000">Ocupación actual</h2> 
            <input placeholder="  " type="text" class="form-control" style="color: #000" ng-model="ocupacion" required  />
            
            <h2 style=" font-size: 12px ; color: #000">¿Está registrado en OMIL?</h2> 
 
            <select class="form-control"  ng-model="omil" required >
                <option value="si">Sí</option>
                <option value="no">No</option>
             </select>    
            <br>
             
            <h2 style=" font-size: 12px ; color: #000">Posee experiencia laboral</h2> 
                <select class="form-control"  ng-model="experiencialab" required >
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
       <br>
       <button id="send2" style=" margin-left:82% ; margin-right:15%;  width: auto"class="btn btn-theme btn-block"style="color: #FFF" ng-click="SendData2()">Enviar</button> <br> 
        </div>
      <br>
     </form>
     </div>
  </div>
